h2{
	color:#2c3e50;
	font-size:2.0rem;
	font-weight:bold;
}

.first_para{
	border-left:5px solid #bdc3c7;
	padding-left:5px;
}

.post{
	margin-bottom:20px;
}

h5{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	/*10 rem refers to 10 times of the root element in the page!!!, 
	not relative
	em is a relative to its parent*/
}

body{
	max-width:700px;
	width:80%;
	/* stay in the 700px if 80% is greater than 700%, otherwise shrink along with the window*/
	border:20px solid #bdc3c7;
	padding:20px;
	margin:20px auto;
	font-family: 'Source Sans Pro', sans-serif;
}

